/* hyndai #2196F3 */
/* text #757575 */
/* hero + bg head #FFFFFF */
/* h #212121 */
/* adress rgba(255, 255, 255, 0.6) */

/* bg + futa #2F303A */
/* bg2 #E5E5E5 */
/* bg3 #F5F4FA */
:root {
  --main-bg-colour: #ffffff;
  --second-bg-colour: #f5f4fa;
  --hero-footer-colour: #2f303a;
  --main-text-colour: #757575;
  --title-colour: #212121;
  --accent-colour: #2196f3;
}

.page {
  background-color: var(--main-bg-colour);
  color: var(--main-text-colour);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 80px;

  border-bottom: 1px solid #ececec;
}
.header > .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
}
.nav-contacts {
  display: flex;
  margin-left: auto;
  align-items: baseline;
}
.nav-item {
  position: relative;
}
.list > .nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-colour);
}

.icon-contacts {
  fill: currentColor;
  margin-right: 10px;
}
.icon-mail {
  width: 16px;
  height: 12px;
}
.icon-phone {
  width: 10px;
  height: 16px;
}
.logo {
  margin-right: 93px;
  text-decoration: none;
  font-family: 'raleway', bold;
  font-size: 26px;
  line-height: 1.19;
  font-style: unset;
}
.logo-part1 {
  color: var(--accent-colour);
}
.logo-part2 {
  color: #000000;
}

.current > .nav-link {
  color: var(--accent-colour);
}
.nav-link {
  color: var(--title-colour);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link:focus,
.contact-link:hover {
  color: var(--accent-colour);
  fill: var(--accent-colour);
}
.contact-link {
  color: var(--main-text-colour);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-colour);
}
.footer {
  padding: 60px 0;
  background-color: var(--hero-footer-colour);
}
.footer-nav {
  display: flex;
}
.footer-logo-part2 {
  color: var(--main-bg-colour);
}
.footer-address {
  margin-top: 20px;
  font-style: unset;
  line-height: 1.71;
}
.list-address:not(:first-child) {
  margin-top: 9px;
}
.address-literally {
  text-decoration: none;
  color: var(--main-bg-colour);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-literally:hover,
.address-contact:hover,
.address-literally:focus,
.address-contact:focus {
  color: var(--accent-colour);
}
.literal-cta {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}
.footer-social {
  margin-left: 70px;
  text-align: left;
}
.footer-icon-box .icon-social-size {
  fill: white;
}
.footer-icon-social {
  margin-top: 20px;
  display: flex;
}
.footer-icon-box {
  font-size: 0;
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-box:hover,
.footer-icon-box:focus {
  background-color: var(--accent-colour);
  cursor: pointer;
}
.footer-icon-item:not(:last-child) {
  margin-right: 10px;
}
.footer-form {
  margin-left: 93px;
}
.form-mailing {
  margin-top: 20px;
  display: flex;
}
.mail-input {
  width: 358px;
  height: 50px;
  padding: 15px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-mailing > .cta {
  margin: 0 0 0 12px;
  padding: 10px 62px 10px 29px;
}
.subscribe-icon {
  position: absolute;
  top: 0;
  transform: translateY(50%);
  right: 28px;
}
.button-subscribe {
  position: relative;
}
/* 
footer

end*/

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding: 200px 0 200px 0;
  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-color: var(--hero-footer-colour);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  vertical-align: auto;
  margin: 0;
  color: var(--main-bg-colour);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.cta {
  vertical-align: auto;
  margin-top: 30px;
  border-style: none;
  text-align: center;
  padding: 10px 32px 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-bg-colour);
  background-color: var(--accent-colour);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.title {
  margin: 0;
  color: var(--title-colour);
}
.feature-list {
  display: flex;
}
.feature:not(:first-child) {
  margin-left: 30px;
}
.feature {
  width: 270px;
}
.feture-icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  background-color: var(--second-bg-colour);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.feture-icon-size {
  width: 65.32px;
  height: 70px;
}

.pros {
  padding: 94px 0 94px 0;
}
.features {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-text {
  margin: 10px 0 0 0;
  line-height: 1.71;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.specialization {
  padding-bottom: 94px;
}
.skills-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.skill {
  position: relative;
}
.skill-desc {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.team {
  padding: 94px 0 94px 0;
  background-color: var(--second-bg-colour);
  font-size: 16px;
  line-height: 1.19;
}
.team-list {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.team-member {
  text-align: center;

  font-size: 16px;
  font-weight: 500;
}
.member-position {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}
.card-box {
  padding: 30px 0;
}
.icon-social {
  padding: 0 32px;
  margin-top: 16px;
  display: flex;
}
.icon-social-size {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icon-container {
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  border-radius: 50%;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container:hover,
.icon-container:focus {
  background-color: var(--accent-colour);
  color: white;
}
.social-icon-box {
  font-size: 0;
}

.social-icon-box:not(:last-child) {
  margin-right: 10px;
}

.team-card {
  background: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0px 0px 4px 4px;
}
.clients {
  padding: 94px 0;
}
.clients-list {
  margin-top: 50px;
  display: flex;
}
.clients-list-item:hover,
.clients-list-item:focus {
  border-color: var(--accent-colour);
  color: var(--accent-colour);
}

.clients-list-item {
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-elemnt:not(:last-child) {
  margin-right: 30px;
}
.client-logo {
  fill: currentColor;
}

.client1-logo {
  width: 41px;
  height: 46.7px;
}
.client2-logo {
  width: 40px;
  height: 52px;
}
.client3-logo {
  width: 43.46px;
  height: 41.18px;
}

.client4-logo {
  width: 84.44px;
  height: 40.62px;
}
.client5-logo {
  width: 62.54px;
  height: 45.43px;
}
.client6-logo {
  width: 93.79px;
  height: 43.93px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
}

.x {
  width: 11px;
  height: 11px;
  fill: currentColor;
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover,
.close:focus {
  color: var(--accent-colour);
}
.callMe {
  padding: 40px;
  text-align: center;
}
.modal-cta {
  font-weight: 700;
  font-size: 20px;
  color: var(--title-colour);
}
.input-list {
  text-align: left;
  margin-top: 12px;
}
.input-item:not(:first-child) {
  margin-top: 10px;
}
.input-item {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--main-text-colour);
}
.input:hover + .input-icon,
.input:focus + .input-icon {
  fill: var(--accent-colour);
}
.input:hover,
.input:focus {
  border-color: var(--accent-colour);
}
.input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea {
  padding: 12px;
  resize: none;
  height: 120px;
  width: 100%;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:hover,
.textarea:focus {
  border-color: var(--accent-colour);
}
.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
}
.agree-field {
  margin-top: 20px;
  line-height: 1.71;
}
.label-agree {
  position: relative;
}
.check-icon {
  position: absolute;
  bottom: 0;
  left: -20px;
  fill: white;
}
.check-bg {
  bottom: 0;
  left: -23px;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-colour);
  border-radius: 2px;
}
.checkbox:checked + .label-agree > .check-bg {
  background-color: var(--accent-colour);
  border: var(--accent-colour);
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.license-agreement {
  color: var(--accent-colour);
}

/* 


page end 


*/
.portfolio {
  padding: 94px 0;
}
.list-filters {
  justify-content: center;
  display: flex;
}
.list-portfolio {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-pick {
  display: block;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.filter:not(:last-child) {
  margin-right: 9px;
}

.border {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.img {
  display: block;
}
.button {
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  color: var(--title-colour);
  background-color: var(--second-bg-colour);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--accent-colour);
  color: var(--main-bg-colour);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-colour);
}

.portfolio-pick {
  box-shadow: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-pick:focus .project-desc,
.portfolio-pick:hover .project-desc {
  transform: translatey(-294px);
}
.portfolio-pick:focus,
.portfolio-pick:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-desc {
  position: absolute;
  bottom: -294px;
  width: 370px;
  height: 294px;
  background: rgb(33, 150, 243);
  opacity: 0.9;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: white;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.desc-container {
  overflow: hidden;
  position: relative;
}
